@model Zen.Data.Entities.Category;

@{
    ViewData["Title"] = "Category - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>@Model.Title</h4>
    <hr />
    @{
        int productCount;

        if (Model.Products is null)
            productCount = 0;
        else
            productCount = Model.Products.Count();
    }
    @foreach (var product in Model.Products)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@product.Price ₺</h6>
                <a class="card-link" asp-controller="ShoppingCart" asp-action="Create" asp-route-id="@product.Id">Add To Cart</a>
            </div>
        </div>
        <br>
    }
</div>